<!-- Authorized Base Html -->
  
<section ng-controller="LoginController" id="menu-bar">
  <!-- ng-repeat to go here with the entire board route up to this page -->
  <span ng-click="logout()">Logout</span>
</section>
  
  <!-- Will be under BoardController -->
  <!-- Create Board Button and Form here above boards -->
<div class="container">
  <div ng-show="showboardlist">
    <ng-include src="boardlistsrc"></ng-include>
  </div>
  <div ng-show="!showboardlist">
    <ng-include src="boardviewsrc"></ng-include>
  </div>
</div>