<div class="row" id="thread-create-section">
  <div class = "col-xs-1 col-md-2"></div>
  <div class = "col-xs-10 col-md-8" ng-init="buildThreadListData()">
    <h2>Create New Thread in</h2>
    <h1>{{currentboardname}}</h1>
    <form id="threadcreateform" ng-submit="verifyAndCreateThread()">
      <div class="form-group">
        <label for="threadname">New Thread Title</label>
        <input required type="text" name="name" class="form-control" id="threadname" ng-model="createthreaddata.name" ng-change="validate('threadcreateform')" placeholder="e.g. DAE Love CS347?">
      </div>
      <button type="submit" class="btn btn-stevens">Create</button>
    </form>
  </div>
  <div class = "col-xs-1 col-md-2"></div>
</div>

<hr style="margin-top: 10px;margin-bottom: 10px;">

<div class="row">
  <div class = "col-xs-1 col-md-3"></div>
  <div class="col-xs-10 col-md-6" id="threadlist">
    <div class="threadlistheader">
      <h2>Threads in</h2>
      <h1>{{currentboardname}}</h1>
    </div>
    <hr style="margin-top: 10px;margin-bottom: 10px;">
    <div class="thread" ng-repeat="thread in threadlist.data">
      <span class="threaddate">{{formatDate(thread.last_comment)}}</span>
      <a ng-href="#boards/{{boardid}}/{{pagenumber}}/{{thread.id}}"><span>{{thread.title}}</span></a>
    </div>
  <div class = "col-xs-1 col-md-3"></div>
</div>