<section id="posts">

      <article class="thread">
        <div class="threadstart">
          <div class="postinfo">
            <span class="anon">Anonymous</span>
            <span class="posttime">03/17/2015 18:47:13</span>
            <span class="postnumber">No.604444021</span>
          </div>
          <img src="http://i.imgur.com/Avtmwu4.png" alt="Post Image">
          <p>Post text goes here. Could be in greentext as well. Blibbity blobbity bloopity</p>
        </div>
        <div class="threadcomment">
          <div class="postinfo">
            <span class="anon">Anonymous</span>
            <span class="posttime">03/17/2015 18:47:13</span>
            <span class="postnumber">No.604444021</span>
          </div>
          <img src="http://i.imgur.com/Avtmwu4.png" alt="Comment Image">
          <p>Lorem ipsum dolor sit amet, mei tation noster insolens ei, sumo audire ea vim, te nemore quodsi labores eum. Ut vide fastidii vel. Causae diceret insolens</p>
        </div>
        <div class="threadcomment">
          <div class="postinfo">
            <span class="anon">Anonymous</span>
            <span class="posttime">03/17/2015 18:47:13</span>
            <span class="postnumber">No.604444021</span>
          </div>
          <img src="http://i.imgur.com/Avtmwu4.png" alt="Comment Image">
          <p>Lorem ipsum dolor sit amet, mei tation noster insolens ei, sumo audire ea vim, te nemore quodsi labores eum. Ut vide fastidii vel. Causae diceret insolens</p>
        </div>
      </article>

      <article class="thread">
        <div class="threadstart">
          <div class="postinfo">
            <span class="anon">Anonymous</span>
            <span class="posttime">03/17/2015 18:47:13</span>
            <span class="postnumber">No.604444021</span>
          </div>
          <img src="http://i.imgur.com/Avtmwu4.png" alt="Post Image">
          <p>Post text goes here. Could be in greentext as well. Blibbity blobbity bloopity</p>
        </div>
        <div class="threadcomment">
          <div class="postinfo">
            <span class="anon">Anonymous</span>
            <span class="posttime">03/17/2015 18:47:13</span>
            <span class="postnumber">No.604444021</span>
          </div>
          <img src="http://i.imgur.com/Avtmwu4.png" alt="Comment Image">
          <p>Lorem ipsum dolor sit amet, mei tation noster insolens ei, sumo audire ea vim, te nemore quodsi labores eum. Ut vide fastidii vel. Causae diceret insolens</p>
        </div>
        <div class="threadcomment">
          <div class="postinfo">
            <span class="anon">Anonymous</span>
            <span class="posttime">03/17/2015 18:47:13</span>
            <span class="postnumber">No.604444021</span>
          </div>
          <img src="http://i.imgur.com/Avtmwu4.png" alt="Comment Image">
          <p>Lorem ipsum dolor sit amet, mei tation noster insolens ei, sumo audire ea vim, te nemore quodsi labores eum. Ut vide fastidii vel. Causae diceret insolens</p>
        </div>
      </article>

    </section>