<header>
      <nav>
        <!-- Construct board list from angular query -->
        | <a href="http://i.imgur.com/Avtmwu4.png">Engineering</a> 
        | <a href="http://i.imgur.com/Avtmwu4.png">Mathmatics</a> 
        | <a href="http://i.imgur.com/Avtmwu4.png">Computer Science</a> 
        | <a href="http://i.imgur.com/Avtmwu4.png">CAL</a> 
        | <a href="http://i.imgur.com/Avtmwu4.png">Cybersecurity</a> 
        | <a href="http://i.imgur.com/Avtmwu4.png">Business</a> 
        | <a href="http://i.imgur.com/Avtmwu4.png">Science</a> 
        | <a href="http://i.imgur.com/Avtmwu4.png">General Discussion</a> |
      </nav>
      <nav>
        <!-- Construct board list from angular query -->
        <!-- Possibly sort by number automatically? -->
        | <a href="http://i.imgur.com/Avtmwu4.png">CS115</a> 
        | <a href="http://i.imgur.com/Avtmwu4.png">CS135</a> 
        | <a href="http://i.imgur.com/Avtmwu4.png">CS181</a> 
        | <a href="http://i.imgur.com/Avtmwu4.png">CS182</a> 
        | <a href="http://i.imgur.com/Avtmwu4.png">CS284</a>
        | <a href="http://i.imgur.com/Avtmwu4.png">CS334</a>
        | <a href="http://i.imgur.com/Avtmwu4.png">CS347</a> 
        | <a href="http://i.imgur.com/Avtmwu4.png">CS383</a> 
        | <a href="http://i.imgur.com/Avtmwu4.png">CS385</a> 
        | <a href="http://i.imgur.com/Avtmwu4.png">CS392</a> |
      </nav>
      <!-- Page title of board category here, get via angular -->
      <h2>Computer Science</h2>
      <!-- Page title of board itself here (AKA class name), get via angular -->
      <h1>CS347</h1>
    </header>