/*4chan peach: #FFCCAA*/
/*Stevens Red: #A9002F*/
*
{
	margin: 0px;
	padding: 0px;
	border-width: 0px; 
}

body
{
	background: -webkit-linear-gradient(lightgray, gray);
}

hr
{
	border: none;
  	border-top: 1px solid #A9002F;
  	width: 95%;
  	margin: 0 auto;
}

header
{
	width: 100%;
}

nav
{
	text-align: center;
	color: #A9002F;
}

nav a:link 
{
    color: #A9002F;
}

nav a:visited 
{
    color: #A9002F;
}

.btn-stevens
{
	color: #fff;
    background-color: #A9002F;
    border-color: #520017;
}

#new-thread-submit
{
	display: table;
	width: 50%;
	margin: 0 auto;
	padding: 10px;
}

#new-image-submit
{
	height: 100px;
	width: 20%;
	background-color: red;
	float: left;
}

#new-text-submit
{
	float: right;
	width: 79%;
	height: 100px;
}

.thread
{
	width: 50%;
	margin: 0 auto;
	padding: 10px;
}

.thread .threadstart
{
	width: 100%;
	background-color: white;
	display: table;
}

.thread .threadstart img
{
	width: 20%;
	height: 100px; 
	/*change to auto for any actual image*/
	float: left;
}

.thread .threadstart p
{
	width: calc(80% - 20px);
	float: right;
	padding: 10px;
}

.thread .threadcomment
{
	margin: 0 auto;
	width: 80%;
	background-color: lightgray;
	display: table;
	border-left: 1px solid #A9002F;
	border-right: 1px solid #A9002F;
	border-bottom: 1px solid #A9002F;
}

.thread .threadcomment img
{
	width: 20%;
	height: 80px; 
	/*change to auto for any actual image*/
	float: left;
}

.thread .threadcomment p
{
	width: calc(80% - 20px);
	float: right;
	padding: 10px;
}

footer
{
	text-align: center;
}

.login-section hr
{
	margin-top: 20px;
	margin-bottom: 20px;
}

.login-section .row hr
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.login-section header h1,h2
{
	color: #A9002F;
	margin: 0 auto;
	display: table;
}

.login-section label
{
	font-size: 1.5em;
	color: #A9002F;
	margin: 0 auto;
	display: table;
}

.login-section label.error
{
	font-size: 1em;
	color: #A9002F;
	margin: 0 auto;
	display: table;
}

.login-section div.has-success input
{
	background-color: lightgreen;
}

.login-section div.has-error input
{
	background-color: #ff8080;
}


.login-section .btn
{
	font-size: 1.75em;
	margin: 0 auto;
	display: table;
}

/*Logout/Menu Bar for Board Pages*/
#menu-bar
{
	background-color: #A9002F;
	width: 100%;
	display: inline-block;
}

#menu-bar span
{
	float: right;
	font-size: 1.5em;
	color: white;
	cursor: pointer;
}

/*Board Creation Form*/

#board-create-section label
{
	font-size: 1.5em;
	color: #A9002F;
	margin: 0 auto;
	display: table;
}

#board-create-section label.error
{
	font-size: 1em;
	color: #A9002F;
	margin: 0 auto;
	display: table;
}

#board-create-section div.has-success input
{
	background-color: lightgreen;
}

#board-create-section div.has-error input
{
	background-color: #ff8080;
}

#board-create-section .btn
{
	font-size: 1.75em;
	margin: 0 auto;
	display: table;
}

/*Board List CSS*/
#board-list
{
	margin-left:auto;
	margin-right:auto;
	width: 30%;
	/*flexbox stuff below*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#board-list div
{
	margin: 5px;
	text-align: center;
	color: #A9002F;
	text-decoration: underline;
}